#div-all {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;	
	background-color: #fff;
}
#logo-clic img {
	width: 120px;
	border: dotted 2px black;
	border-radius: 20%;
}
header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	background-color: #801419;
	/*shadow*/
}
#menu-navigation ul {
	display: flex;
}
#menu-navigation ul li {
	list-style-type: none;
	padding: 20px;
}
ul.list-nav li a {
	color: white;
	text-decoration: none;
}
#main-title {
	display: flex;
	justify-content: center;
	margin: 130px 10px 30px 10px;
}
section {
	margin: 10px;
	padding: 200px;
	border: 1px solid black;
}
h2 {
	display: flex;
	justify-content: center;
}
footer {
	border: 1px solid black;
	display: flex;
	justify-content: center;
		margin: 10px;
	padding: 200px;
}
#image-slider {
	list-style-type: none;
}
#slider-image-1 {
	display: block;
}
.slider-image {
	width: 600px;
	height: 400px;
	display: none;
}
#canvas {
	width: 250px;
	height: 200px;
	display: none;
}
#prefooter {
	display: none;
}

/* Media queries => 2 breakpoints = smartphones et tablettes */
/* Objectif : 1 colonne pour les smartphones et 2 pour les tablettes */

@media {
	
}



